logs/
node_modules/
developing_data/
dist/
env/
credentials/
exports/

.DS_Store
ngrok
newrelic_agent.log
hotel-app-error-1.log
hotel-app-error-2.log
hotel-app-error-3.log
hotel-app-out-1.log
hotel-app-out-2.log
hotel-app-out-3.log
.env
.env
parthgodhanigithub
parthgodhanigithub.pub
